extends ../layout

block content

  form(action='/teams/' + theTeam._id + '/edit' method='post')
    label(for="collegename") School Name:
    input(type='text' id='collegename' name='collegename' value=theTeam.school)
    label(for='location') Location:
    input(type='text' id='location' name='city' value=theTeam.location)
    label(for='mascot') Mascot:
    input(type='text' id='mascot' name='mascot' value=theTeam.mascot)
    label(for='accredited') Accredited:
    input(type='checkbox' id='accredited' name='accredited' value='yes' checked=(theTeam.accredited=='yes' ? 'checked' : undefined))

    input(type='submit')
    p
    a(href='/teams/' + theTeam._id) Cancel

