extends ../layout

block content

  h1= theTeam.school
  h2= theTeam.location
  h2= theTeam.mascot
  h2= theTeam.accredited

  a(href='/teams/' + theTeam._id + '/edit') Edit School
  p
  form(action='/teams/' + theTeam._id + '/delete' method='post')
    input(type='submit' value='Delete')
  p
  a(href='/teams') List of Schools